/* Reset some default styles for the entire page */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

/* Header Styles */
.header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

/* Footer Styles */
.footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

/* Fixed Background */
.fixed-bg {
    background-image: url("https://media.licdn.com/dms/image/C4E12AQG5SfPaiyoXFw/article-cover_image-shrink_720_1280/0/1627971085946?e=2147483647&v=beta&t=fo7IjYqb8rv5utamgc0Exvp4JK_F0f8JyHyRGcbJ7ZU");
    min-height: 500px;
    position: relative;
    background-position: center;
    display: flex;
    background-size: cover;
}
a{
    text-decoration: none !important;
}

/* Link Hover Style */
a:hover {
    text-decoration: underline;
}

/* Who am I Section Styles */
.whoami {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    padding: 40px;
    padding-left: 15%;
    padding-right: 10%;
}

/* Profile Image Styles */
.profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
/*mMore About Me*/
.bio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.image-info-container {
    display: grid;
    grid-template-columns: 1fr  1fr ;
    /* align-items: center; */
}




.moreme-image {
    max-width: 90%;
    height: auto;
    padding-left: 30px;
    border-radius: 5%;
}

.info {
    flex: 1;
    padding: 20px;
}

/* Profile Image Hover Animation */
.profile-image:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

/* Projects Section Styles */
.projects {
    width: 100%;
    margin-left: 2%;
    margin-top: 15%;
}

/* Card Container Styles */
.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/* Card Image Styles */
.card img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

/* Card Info Styles */
.card-info {
    padding: 50px;
    margin: 0;
    text-align: center;
}
/*Contact Section*/
#contact{
    padding-left: 40px;
}

/* Strengths Section Styles */
.strengths {
    background-color: #f7f7f7;
    padding: 40px;
    text-align: center;
}

.strengths h2 {
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
}

.strengths ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.strengths li {
    flex: 0 0 calc(50% - 20px);
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: left;
    transition: transform 0.2s ease;
}

.strengths li:hover {
    transform: scale(1.05);
}

.strengths h3 {
    font-size: 24px;
    color: #007bff;
    margin-bottom: 10px;
}

.strengths p {
    font-size: 18px;
    color: #555;
    line-height: 1.4;
}

/* References Section Styles */
.references {
    background-color: #f7f7f7;
    padding: 40px;
    text-align: center;
}

.references h2 {
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
}

.reference {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: left;
}

.reference h3 {
    font-size: 24px;
    color: #007bff;
    margin-bottom: 10px;
}

.reference p {
    font-size: 18px;
    color: #555;


}

.reference blockquote {
    font-size: 16px;
    color: #333;
    margin-top: 10px;
}

/* Image Container Styles */
.image-container {
    display: flex;
    justify-content: space-between;
}

.image-container img {
    width: 30%;
    height: 20%;
    object-fit: cover;
    border-radius: 10%;
    border-color: #333;
}
#gallery{
   padding: 20px;
}




/* This is outside of the media query and applies to all screen sizes */
/* You can define styles for the bio section here */
/* Media query for screens with a maximum width of 768px */
@media screen and (max-width: 1270px) {
    /* Apply styles for screens with a width of 768 pixels or less */
    .image-info-container {
        display: flex;
        flex-direction: column;
        /* grid-template-columns: 1fr 4fr; */
        /* align-items: center; */
    }
    .moreme-image{
        /* width: 0%; */
        /* border: solid blue; */
        padding: 0;
        margin: 0 0 0 14%;
        max-width: 72%;
        border-radius: 5%;
        /* transform: translate(16%,0); */
        
        
    }
}



