/*Javier Morales*/
html {
	background-image: url("../images/bats.gif");
	
}
body  {
	font-family: "Berlin Sans FB", Candara, Arial, sans-serif;
	max-width: 800px;
	width: 100%;
	background-color: white;
	border: 3px solid black;
	margin: 0 auto;
	box-shadow: 9px 18px 10px; /*horizontalOffset verticalOffset blurRadius */
}

header {
	border-bottom: 2px solid black;
	background-image: linear-gradient(45deg, white, orange 75%, black);
}
header img {
	width: 100%;
	max-width: 85px;
	float: left;
	padding-left: 0.625%;
	padding-top: 0.3125rem;
}
header h2 {
	font-size: 230%;
	text-indent: 3.125%;
	margin: 0;
}
header h3 {
	font-size: 125%;
	text-indent: 3.125%;
	margin-top: 0;
}
#main_nav ul {
	margin:0;
	padding:0
}
#main_nav li {
	float:left;
	width:20%;
	list-style-type: none;
	position: relative;
}

#main_nav a {
	color:white;
	background-color: black;
	text-align: center;
	padding: 0.3125rem 0;
	text-decoration: none;
	display:block
}
#main_nav a.current {
	color:orange;
}
#main_nav a:hover, #main_nav a:focus {
	background-color: gray;
}

#main_nav ul ul {
	display: none;
	position: absolute;
	
}
#main_nav ul li ul li {
	width: 100%;

}
#main_nav ul li:hover > ul {
	display:block;
}
main {
	padding: 1.5rem 25px 2.5rem;

}
main h1 {
	font-size: 140%;
	margin-bottom: 0;
}
main h1::first-letter {
	font-size: 150%;
}
main h2, main h3 {
	margin-bottom: 0;
}
main h1+p, main h3+p {
	margin-top: 0.125rem;
}
main section img{
	width: 100%;
	max-width: 154px;
}

aside {
		width: 17.5%;
		float:left;
}

aside a {
	padding: 0 0 0 5px; /* Left padding remains in pixels */
	padding-top: 0.3125rem; 
	padding-bottom: 0.3125rem; 

	border: 1px solid black;
	display:block;
	background-color: orange;
}
aside a:link, aside a:visited {
	color: black;
	text-decoration: none;
}
aside a:hover, aside a:focus{
	text-decoration: underline;
}
aside li {
	list-style-type: none;
}
section {
	width: 72.5%;
	float:right;
}
ul {
	line-height: 1.5;
	margin-top: 0.9375rem;
	padding-left: 1.25%;
}
 a:link, a:visited {
	 color: orange;
	 font-weight: bold;
 }
 a:hover, a:focus {
	 color: green;
 }
 footer {
	 font-size: 90%;
	 text-align:center;
	 border-top: 2px solid black;
	 background-image: linear-gradient(45deg, black, orange 25%, white);
	 padding: 10px;
	 clear: both;
 }

@media (max-width: 642px) {

header img{
	width: 10%;
	
}

body {
	max-width: 642px;
	width:100%;
	background-image: none;
	box-shadow: none;
	font-size: 90%;
	
	
	
}

#main_nav ul li{
	width: 100%;
	float: left;
	
}
#main_nav ul {
	padding-right: 80%;
}
body main section {
	
	margin-top: -20%;
	width: 80%;

	float:right;
	
}
body{

	padding-top: 0;
}

}



 @media (max-width: 428px) {
	header{
		font-size: 70%;
	
	}
	header img{
		width: 10%;
	}
    
    body {
		max-width: 428px;
		width:100%;
        background-image: none;
        box-shadow: none;
        font-size: 90%;
		
		
    }
	
    #main_nav ul li{
        width: 500%;
        float: left;
		
	}
	body main section{
		
		width: 100%;
		margin-top: 20%;
	}
	body main aside{
		
		width: 100%;
	}
}

