
h1 {
    font-family: sans-serif;
}

body {
    border: none;
    box-shadow: none;
    width: auto;
    margin: 0.5in;
 
}

h1 {
    font-family: serif; 
}

body header {
    display:none; 
}

body nav {
    display:none;
}

body main aside {
    display:none; 
}

body section h5 {
    display:none; 
}
footer {
    display:none; 
}