 /* Javier Morales */ 
 section{
   width: 360px;
   padding-left: 20px;
   padding-right: 20px;
   float: left;
   

}
section image{
   float: left;
   padding: 0 20px;
   
}

#Rsidebar{
   background-color:  #f5deb3;
   float:right;
   width:200px;
   
}

#Rsidebar li{
   background-color:  #f5deb3;
   border: none;

}
#Rsidebar a{
   border: none;
   background-color:#f5deb3;
   
}

#Rsidebar a:hover, aside#Rsidebar a:focus{
   color:green;
   text-decoration: underline;

}

aside#Rsidebar img{
   width: 50px;
}