 
html {
	background-image: url("../images/bats.gif");
}
body  {
	font-family: "Berlin Sans FB", Candara, Arial, sans-serif;
	width: 800px;
	background-color: white;
	border: 3px solid black;
	margin: 0 auto;
	box-shadow: 9px 18px 10px; /*horizontalOffset verticalOffset blurRadius */
}
header {
	border-bottom: 2px solid black;
	background-image: linear-gradient(45deg, white, orange 75%, black);
}
header img {
	float: left;
	padding-left: 5px;
	padding-top: 5px;
}
header h2 {
	font-size: 230%;
	text-indent: 25px;
	margin: 0;
}
header h3 {
	font-size: 125%;
	text-indent: 25px;
	margin-top: 0;
}
#main_nav ul {
	margin:0;
	padding:0
}
#main_nav li {
	float:left;
	width:160px;
	list-style-type: none;
	position: relative;
}

#main_nav a {
	color:white;
	background-color: black;
	text-align: center;
	padding: 5px 0;
	text-decoration: none;
	display:block
}
#main_nav a.current {
	color:orange;
}
#main_nav a:hover, #main_nav a:focus {
	background-color: gray;
}

#main_nav ul ul {
	display: none;
	position: absolute;
}
#main_nav ul li:hover > ul {
	display:block;
}
main {
	padding: 15px 25px 25px;
}
main h1 {
	font-size: 140%;
	margin-bottom: 0;
}
main h1::first-letter {
	font-size: 150%;
}
main h2, main h3 {
	margin-bottom: 0;
}
main h1+p, main h3+p {
	margin-top: 2px;
}

aside {
		width: 140px;
		float:left;
}

aside a {
	padding: 5px 0 5px 5px;
	border: 1px solid black;
	display:block;
	background-color: orange;
}
aside a:link, aside a:visited {
	color: black;
	text-decoration: none;
}
aside a:hover, aside a:focus{
	text-decoration: underline;
}
aside li {
	list-style-type: none;
}
section {
	Width: 580px;
	float:right;
}
ul {
	line-height: 1.5;
	margin-top: 15px;
	padding-left: 10px;
}
 a:link, a:visited {
	 color: orange;
	 font-weight: bold;
 }
 a:hover, a:focus {
	 color: green;
 }
 footer {
	 font-size: 90%;
	 text-align:center;
	 border-top: 2px solid black;
	 background-image: linear-gradient(45deg, black, orange 25%, white);
	 padding: 10px;
	 clear: both;
 }
