/*Javier Morales*/
html {
	background-image: url("../images/bats.gif");
}
main{
	display:flex ;
}
body  {
	font-family: "Berlin Sans FB", Candara, Arial, sans-serif;
	max-width: 800px;
	width: 100%;
	background-color: white;
	border: 3px solid black;
	margin: 0 auto;
	box-shadow: 9px 18px 10px; /*horizontalOffset verticalOffset blurRadius */
	
}
header {
	border-bottom: 2px solid black;
	background-image: linear-gradient(45deg, white, orange 75%, black);
}
header img {
	float: left;
	padding-left: .625%;
	padding-top: .3125rem;
	max-width: 85px;
	min-width: 40px;
	width: 10.625%;	/* 85/800 */
}
header h2 {
	font-size: 230%;
	text-indent: 3.125%; /*25px;*/
	margin: 0;
	
	/* From lab 2
	color:orange;
	font-style: italic;
	text-shadow: 2px 2px 2px black; */
}
header h3 {
	font-size: 125%;
	text-indent: 3.125%; /*25px;*/
	margin-top: 0;
}

nav#main_nav ul {
	margin: 0; 
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}
nav#main_nav ul li{
	list-style-type:none;
	flex-basis: 160px;
}
nav#main_nav ul li a{
	text-align: center;
	display:block;
	background-color:black;
	text-decoration: none;
	padding: .3125rem 0; /* 5px 0; */
}
nav#main_nav ul li a:link, nav#main_nav ul li a:visited {
	color: white;
}
nav#main_nav ul li a:hover, nav#main_nav ul li a:focus {
	background-color: gray;
}
nav#main_nav ul li a.current {
	color:orange;
}

main {
	padding: .9735rem  3.125% 1.5625rem; /*15px 25px 25px;*/
}
main h1 {
	font-size: 140%;
	margin-bottom: 0;
}
main h1::first-letter {
	font-size: 150%;
}
main h2, main h3 {
	margin-bottom: 0;
}
main h1+p, main h3+p {
	margin-top: .125rem; /*2px;*/
}
section {
	order: 1;
	width: 75%;

}
section img{
	max-width: 154px;
	width: 19.25%;
}

aside {
	width: 25%;
	margin: 2%;

}
	

aside ul {
	line-height: 1.5;
	margin-top: .9375em;  	/* 15/16 */
	padding-left: .625em;		/* 10/16 */
	
}
aside ul li {
	list-style-type: none;

	
}
aside ul li a {
	text-decoration: none;
	display: block;
	background-color:orange;
	margin: 1em 0;
	border: 1px solid black;
	padding: .3125em 0 .3125em .3125em;	/*5px 0 5px 5px; */
	
}
aside ul li a:link, aside ul li a:visited{
	color: black;
}
aside ul li a:focus, aside ul li a:hover{
	text-decoration: underline;
}
	

 a:link, a:visited {
	 color: orange;
	 font-weight: bold;
 }
 a:hover, a:focus {
	 color: green;
 }
 footer {
	 font-size: 90%;
	 text-align:center;
	 border-top: 2px solid black;
	 background-image: linear-gradient(45deg, black, orange 25%, white);
	 padding: .625rem 1.25%;/*10px;*/;
	 clear: both;
 }

@media only screen and (max-width: 428px) {
	
	html {background-image: none;}
	body {
		box-shadow: none;
	}
	header {
		font-size: 75%;
	}
	main {
        flex-direction: column; /* i. Change the main element to column flex-direction */
    }
    
    aside {
        position: relative; /* ii. Move the aside to the bottom */
        width: 75%; /* iii. Set the aside width to 75% of the container */
        margin: 0 auto; /* iii. Center the aside */
		order:2;
    }
	section{
	
	}
}