body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

header {

    padding: 20px 0;
    text-align: center;
}


nav a {
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #ffcc00;
}

main {
    padding: 20px;
}

.project-gallery {
    text-align: center;
}

.project-item {
    margin: 20px;
    padding: 15px;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.project-item:hover {
    transform: scale(1.05);
}

.project-item img {
    max-width: 100%;
    border-radius: 8px;
}

footer {
 

    padding: 10px 20px;
    text-align: center;
}

/* Animation styles */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeIn {
    animation: fadeIn 1s ease-in-out;
}

/* Media query for responsiveness */
@media screen and (max-width: 768px) {
    .project-item {
        margin: 10px;
    }

 nav {
        padding: 10px; /* Example: Add padding for smaller screens */
    }

    nav ul {
        list-style-type: none; /* Example: Remove list item bullets for smaller screens */
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column; /* Example: Stack items vertically */
        text-align: center; /* Example: Center text for smaller screens */
    }

    nav li {
        margin-bottom: 10px; /* Example: Add margin between list items for smaller screens */
    }

    nav a {
        text-decoration: none; /* Example: Remove underline for links */
        padding: 8px; /* Example: Add padding to links for smaller screens */
        border-radius: 5px; /* Example: Add rounded corners to links */
    }

    nav a:hover {
        background-color: #777777; /* Example: Change background color on hover for links */
    }
}